@{
    ViewData["Title"] = "Home Page";
}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="../Images/hero/Gym.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h2 style="color:white">Workout Essentials</h2>

                            <a asp-controller="Product" asp-action="List" class="primary-btn">Shop now <span class="arrow_right"></span></a>

                            @*<div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="../Images/hero/Man_lifting_a_heavy_barbell(BW).jpg">
            @*../Images/hero/Man_lifting_a_heavy_barbell(BW).jpg*@
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">

                            <h2 style="color:white">Workout Essentials</h2>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="~/Images/Plates.jpeg" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Plates</h2>
                        <a asp-controller="Product" asp-action="List"
                           asp-route-category="Plates">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="~/Images/squat_rack.jpg" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Squat Racks</h2>
                        <a asp-controller="Product" asp-action="List"
                           asp-route-category="Racks">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="~/Images/BarbellRack2.jpg" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Barbells</h2>
                        <a asp-controller="Product" asp-action="List"
                           asp-route-category="Barbells">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="~/Images/bench_press.jpg" />
                    </div>
                    <div class="banner__item__text">
                        <h2>Benches</h2>
                        <a asp-controller="Product" asp-action="List"
                           asp-route-category="Benches">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->



<!-- Hero Section End -->
@*<style>
        body, html {
            height: 100%;
        }
        .bg {
            /* The image used */
            background-image: url("../Images/Gym.jpg");
            /* Full height */
            height: 50%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <div class="bg"></div>*@
