@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
            <a href="#"><img src="~/Images/icon/cart.png" alt=""> <span>@Model.ShoppingCartItemTotal</span></a>   
            <div class="price">@Model.ShoppingCartPriceTotal.ToString("C2")</div>

    </li>
}


